/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

// From EK design guide
$businessBlue: #0038A8;
$focusBlue: #0C53ED;
$campusGreen: #ACB504;
$sunlitEnergy: #E8D285;
$daylight: #F8EDCA;
$academicFire: #FE4C61;
$studentsBlush: #FCA28A;
$poolsideStuy: #33ABB5;
$pencilGrey: #333333;

// Colors
$white: #fff;
$dark: #233249;
$red: #ea5045;
$rose: #f7d4d1;
$blue: #9accff;
$green: #50d57c;
$light: #ededed;
$grey: #c8d0d8;
$purple: rgba(210, 149, 228, 1);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $white;

$mainColor: $dark;
$headingColor: $dark;

$inlineCodeColor: $dark;
$inlineCodeBgColor: $rose;

$strongColor: $white;
$strongBgColor: $red;

$mainFont: 'Roboto', Arial, sans-serif;
$codeFont: 'Roboto Mono', 'Courier New', Courier, monospace;
$headingFont: 'Roboto Condensed', 'Arial Narrow', sans-serif;

$headingTextShadow: none;
$headingLetterSpacing: 0.04em;
$headingTextTransform: normal;
$headingFontWeight: 700;
$linkColor: $red;
$linkColorHover: color.scale($linkColor, $lightness: 15%);
$selectionBackgroundColor: color.scale($linkColor, $lightness: 25%);

$borderRadius: 0em;

$mainFontSize: 1.6em;
$heading1Size: 2.6em;
$heading2Size: 2.2em;
$heading3Size: 2.0em;
$heading4Size: 1.8em;
$letterSpacing: 0.04em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color($white);

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

// Define additional color effects based on Dracula spec
:root {
    --r-inline-code-color: #{$inlineCodeColor};
    --r-inline-code-bg-color: #{$inlineCodeBgColor};
    --r-strong-color: #{$strongColor};
    --r-strong-bg-color: #{$strongBgColor};
    --r-border-radius: #{$borderRadius};
}

@mixin color-background($color) {
    background-color: #{$color} !important;
    background-image: none;
}

@mixin ek-svg-background($color1, $color2) {
    --color1: #{$color1};
    --color2: #{$color2};
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%223118.111%22%20height%3D%222204.726%22%20viewBox%3D%220%200%202338.583%201653.544%22%20fill%3D%22var(--r-bg-color2%2C%20%23f8edca)%22%3E%3Cpath%20d%3D%22M0%201653.544h2338.583V.008H0Z%22%2F%3E%3Cpath%20d%3D%22M902.759%20994.138V755.191c0-24.07-19.511-43.58-43.58-43.58H-742.414c-24.07%200-43.58%2019.51-43.58%2043.58v1348.247c0%2024.07%2019.51%2043.58%2043.58%2043.58H859.178c24.07%200%2043.58-19.51%2043.58-43.58V1788.41c0-29.808-29.194-50.802-57.452-41.31-136.294%2045.785-501.672%20152.302-951.097%20152.302-36.961%200-97.322-1.87-137.783-3.289-23.462-.82-42.006-20.078-42.006-43.553v-279.81c0-25.598%2021.956-45.684%2047.453-43.409l699.26%2062.375a43.59%2043.59%200%200%200%2041.756-21.864l110.059-193.494c17.566-30.886-7.211-68.692-42.534-64.822-266.902%2029.26-537.872%2044.997-812.21%2046.51-24.142.134-43.784-19.505-43.784-43.65v-233.094c0-24.07%2019.511-43.583%2043.58-43.583H859.179c24.07%200%2043.58-19.511%2043.58-43.58M1516.65%202147.02h-413.253c-24.067%200-43.578-19.511-43.578-43.58V755.191c0-24.07%2019.511-43.583%2043.578-43.583h413.253c24.07%200%2043.58%2019.514%2043.58%2043.583V2103.44c0%2024.07-19.51%2043.58-43.58%2043.58m1021.884-380.518c-174.495-240.794-487.295-344.797-820.917-344.797-18.742-.256-25.75-24.911-9.83-34.803%20196.955-122.364%20424.53-149.891%20729.263-150.975%2012.27-.041%2024.022-5.22%2032.256-14.32l395.533-437.177c25.35-28.02%205.47-72.82-32.317-72.82h-587.027a43.6%2043.6%200%200%200-32.317%2014.342l-601.992%20665.375c-15.139%2016.734-15.002%2042.256.317%2058.825l631.328%20682.872a43.58%2043.58%200%200%200%2032%2013.995h516.733c41.328%200%2059.472-52.092%2027.056-77.725-71.817-56.792-170.167-151.111-280.086-302.792%22%20fill%3D%22var(--r-bg-color1%2C%20%23fca28a)%22%2F%3E%3C%2Fsvg%3E");
    //background-image: url(assets/ek-bg.svg);
    //background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100vw auto;
    background-attachment: fixed;
}

@mixin k-svg-background($color1, $color2) {
    --color1: #{$color1};
    --color2: #{$color2};
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%223118.111%22%20height%3D%222204.726%22%20viewBox%3D%220%200%202338.583%201653.544%22%20fill%3D%22var(--color2%2C%20%23f8edca)%22%3E%3Cpath%20d%3D%22M0%201653.544h2338.583V.008H0Z%22%2F%3E%3Cpath%20d%3D%22M1111.782%201231.962C900.72%20940.706%20522.368%20814.906%20118.829%20814.906c-22.667-.308-31.144-30.13-11.889-42.094%20238.23-148.006%20513.497-181.306%20882.092-182.614%2014.842-.053%2029.058-6.314%2039.014-17.322L1506.47%2044.084c30.66-33.892%206.614-88.08-39.092-88.08H757.335a52.7%2052.7%200%200%200-39.092%2017.347L-9.904%20778.164c-18.311%2020.24-18.145%2051.112.383%2071.153l763.63%20825.975a52.7%2052.7%200%200%200%2038.706%2016.93h625.022c49.992%200%2071.94-63.008%2032.728-94.016-86.87-68.692-205.828-182.778-338.783-366.244%22%20fill%3D%22var(--color1%2C%20%23e8d285)%22%2F%3E%3C%2Fsvg%3E");
    //background-image: url(assets/k-bg.svg);
    //background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100vw auto;
    background-attachment: fixed;
}


.reveal {
    .blue {
        @include color-background($businessBlue);
    }

    .green {
        @include color-background($campusGreen);
    }

    .red {
        @include color-background($academicFire);
        color: $studentsBlush !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white !important;
        }

        strong,
        b {
            background-color: $dark !important;
            color: $white !important;
        }

        p code {
            background-color: $rose !important;
            color: $dark !important;
        }
    }

    .rose {
        @include color-background($rose);

        p code {
            background-color: $blue !important;
            color: $dark !important;
        }
    }

    .purple {
        @include color-background($purple);
    }

    .light {
        @include color-background($light);
    }

    .grey {
        @include color-background($grey);
    }

    .dark {
        @include color-background($dark);
        color: $white !important;
    }

    
    .ek-blue {
        @include ek-svg-background(#{$businessBlue}, #{$campusGreen});
    }

    .k-blue {
        @include k-svg-background(#{$businessBlue}, #{$campusGreen});
    }

    .ek-green {
        @include ek-svg-background(#{$campusGreen}, #{$studentsBlush});
    }

    .ek-red {
        @include ek-svg-background(#{$academicFire}, #{$studentsBlush});
    }

    .ek-rose {
        @include ek-svg-background(#{$studentsBlush}, #{$poolsideStuy});
    }

    .ek-purple {
        @include ek-svg-background(#{$poolsideStuy}, #{$pencilGrey});
    }
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    line-height: 1.1;
}

.reveal p {
    line-height: 1.5;
}

.reveal em {
    font-style: italic;
}

.reveal strong,
.reveal b {
    background-color: var(--r-strong-bg-color);
    color: var(--r-strong-color);
    border-radius: var(--r-border-radius);
    padding: 0.1em 0.2em;
}

.reveal p code {
    color: var(--r-inline-code-color);
    background-color: var(--r-inline-code-bg-color);
    border-radius: var(--r-border-radius);
    padding: 0.1em 0.2em;
}

.reveal ul,
.reveal ol {
    line-height: 1.5;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    border-radius: var(--r-border-radius);
    overflow: hidden;
}

.reveal pre {
    border-radius: var(--r-border-radius);
    overflow: hidden;
    font-size: clamp(0.5em, calc(1.2em - (var(--line-count, 1) * 0.05em)), 1.2em);
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 75%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    border-radius: var(--r-border-radius);
    box-shadow: $light 0px 1px 3px 0px, $light 0px 0px 0px 1px;
    background-color: $light;

    blockquote {
        background-color: $rose;
    }
}



.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal a {
    color: $red;
    text-decoration: none;
}

.reveal a:hover {
    text-decoration: underline;
}

.reveal .progress {
    background-color: $dark;
}

.reveal .controls {
    color: $red;
}

.reveal .progress span {
    background-color: $red;
}