/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

// Colors
$white: #fff;
$keaDark: #233249;
$keaRed: #ea5045;
$keaRose: #f7d4d1;
$keaBlue: #9accff;
$keaGreen: #50d57c;
$keaLight: #ededed;
$keaGrey: #c8d0d8;
$keaPurple: rgba(210, 149, 228, 1);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $white;

$mainColor: $keaDark;
$headingColor: $keaDark;

$inlineCodeColor: $keaDark;
$inlineCodeBgColor: $keaRose;

$strongColor: $white;
$strongBgColor: $keaRed;

$mainFont: 'Roboto', Arial, sans-serif;
$codeFont: 'Roboto Mono', 'Courier New', Courier, monospace;
$headingFont: 'Roboto Condensed', 'Arial Narrow', sans-serif;

$headingTextShadow: none;
$headingLetterSpacing: 0.04em;
$headingTextTransform: normal;
$headingFontWeight: 700;
$linkColor: $keaRed;
$linkColorHover: color.scale($linkColor, $lightness: 15%);
$selectionBackgroundColor: color.scale($linkColor, $lightness: 25%);

$borderRadius: 0em;

$mainFontSize: 1.6em;
$heading1Size: 2.6em;
$heading2Size: 2.2em;
$heading3Size: 2.0em;
$heading4Size: 1.8em;
$letterSpacing: 0.04em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color($white);

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

// Define additional color effects based on Dracula spec
:root {
    --r-inline-code-color: #{$inlineCodeColor};
    --r-inline-code-bg-color: #{$inlineCodeBgColor};
    --r-strong-color: #{$strongColor};
    --r-strong-bg-color: #{$strongBgColor};
    --r-border-radius: #{$borderRadius};
}

// HACK: Remove weird duplicate background svg image
.reveal .slides section {
    background-image: none !important;
    background-color: transparent !important;
}

.reveal {
    .kea-blue {
        background-color: $keaBlue !important;
    }

    .kea-green {
        background-color: $keaGreen !important;
    }

    .kea-red {
        background-color: $keaRed !important;
        color: $keaDark !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white !important;
        }

        strong,
        b {
            background-color: $keaDark !important;
            color: $white !important;
        }

        p code {
            background-color: $keaRose !important;
            color: $keaDark !important;
        }
    }

    .kea-rose {
        background-color: $keaRose !important;

        p code {
            background-color: $keaBlue !important;
            color: $keaDark !important;
        }
    }

    .kea-purple {
        background-color: $keaPurple !important;
    }

    .kea-light {
        background-color: $keaLight !important;
    }

    .kea-grey {
        background-color: $keaGrey !important;
    }

    .kea-dark {
        background-color: $keaDark !important;
        color: $white !important;
    }
}

body {
    background-image: url(./assets/kea.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 1% 98%;
    //background-attachment: fixed;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    line-height: 1.1;
}

.reveal p {
    line-height: 1.5;
}

.reveal em {
    font-style: italic;
}

.reveal strong,
.reveal b {
    background-color: var(--r-strong-bg-color);
    color: var(--r-strong-color);
    border-radius: var(--r-border-radius);
    padding: 0.1em 0.2em;
}

.reveal p code {
    color: var(--r-inline-code-color);
    background-color: var(--r-inline-code-bg-color);
    border-radius: var(--r-border-radius);
    padding: 0.1em 0.2em;
}

.reveal ul,
.reveal ol {
    line-height: 1.5;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    border-radius: var(--r-border-radius);
    overflow: hidden;
}

.reveal pre {
    border-radius: var(--r-border-radius);
    overflow: hidden;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 75%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    border-radius: var(--r-border-radius);
    box-shadow: $keaLight 0px 1px 3px 0px, $keaLight 0px 0px 0px 1px;
    background-color: $keaLight;

    blockquote {
        background-color: $keaRose;
    }
}



.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal a {
    color: $keaRed;
    text-decoration: none;
}

.reveal a:hover {
    text-decoration: underline;
}

.reveal .progress {
    background-color: $keaDark;
}

.reveal .controls {
    color: $keaRed;
}

.reveal .progress span {
    background-color: $keaRed;
}


// put a thin border around the slides when printing
html.reveal-print .pdf-page {
    border: 1px solid $keaDark !important;
    border-bottom: none !important;
}