/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "sass:color";
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

// Colors
$white: #fff;
$keaDark: #233249;
$keaRed: #ea5045;
$keaRose: #f7d4d1;
$keaBlue: #9accff;
$keaGreen: #50d57c;
$keaLight: #ededed;
$keaGrey: #c8d0d8;
$keaPurple: rgba(210, 149, 228, 1);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $white;

$mainColor: $keaDark;
$headingColor: $keaDark;

$inlineCodeColor: $keaRed;
$inlineCodeBgColor: $keaRose;

$strongColor: $white;
$strongBgColor: $keaRed;

$mainFont: 'Roboto', Arial, sans-serif;
$codeFont: 'Roboto Mono', 'Courier New', Courier, monospace;
$headingFont: 'Roboto Condensed', 'Arial Narrow', sans-serif;

$headingTextShadow: none;
$headingLetterSpacing: 0.04em;
$headingTextTransform: normal;
$headingFontWeight: 700;
$linkColor: #2a76dd;
$linkColorHover: color.scale($linkColor, $lightness: 15%);
$selectionBackgroundColor: color.scale($linkColor, $lightness: 25%);

$mainFontSize: 1.4em;
$heading1Size: 2.8em;
$heading2Size: 2.0em;
$heading3Size: 1.8em;
$heading4Size: 1.4em;
$letterSpacing: 0.04em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color($white);

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

// Define additional color effects based on Dracula spec
:root {
    --r-inline-code-color: #{$inlineCodeColor};
    --r-inline-code-bg-color: #{$inlineCodeBgColor};
    --r-strong-color: #{$strongColor};
    --r-strong-bg-color: #{$strongBgColor};
}

.reveal {
    .kea-blue {
        background-color: $keaBlue !important;
    }

    .kea-green {
        background-color: $keaGreen !important;
    }

    .kea-red {
        background-color: $keaRed !important;
        --r-strong-color: $keaDark;
        --r-strong-bg-color: $white;
        --r-inline-code-color: $keaDark;
        --r-inline-code-bg-color: $white;
        --r-heading-color: $keaDark;
    }

    .kea-rose {
        background-color: $keaRose !important;
        --r-strong-color: $keaRose;
        --r-strong-bg-color: $white;
        --r-inline-code-color: $keaRose;
        --r-inline-code-bg-color: $white;
        --r-heading-color: $keaRose;
    }

    .kea-purple {
        background-color: $keaPurple !important;
        --r-strong-color: $keaPurple;
        --r-strong-bg-color: $white;
        --r-inline-code-color: $keaPurple;
        --r-inline-code-bg-color: $white;
        --r-heading-color: $keaPurple;
    }

    .kea-light {
        background-color: $keaLight !important;
    }

    .kea-grey {
        background-color: $keaGrey !important;
    }

    .kea-dark {
        background-color: $keaDark !important;
        color: $white !important;
    }
}

.reveal {
    background-image: url(./assets/kea.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 1% 98%;
    background-attachment: fixed;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    line-height: 1.1;
}

.reveal p {
    line-height: 1.5;
}

.reveal em {
    font-style: italic;
}

.reveal strong,
.reveal b {
    background-color: var(--r-strong-bg-color);
    color: var(--r-strong-color)
}

.reveal p code {
    color: var(--r-inline-code-color);
    background-color: var(--r-inline-code-bg-color);
    font-size: 1.2em;
}

.reveal ul,
.reveal ol {
    line-height: 1.5;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 75%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: $keaRose;
    box-shadow: 0px 0px 6px $keaRed;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal .progress {
    background-color: $keaDark;
}

.reveal .controls {
    color: $keaRed;
}

.reveal .progress span {
    background-color: $keaRed;
}